<!DOCTYPE html>
<html>
<head>
	<title>ScheduleApp</title>
	<link href="css/style-add.css" rel="stylesheet">
</head>
<body>
	<!--<h1>LAYOUT HANDLEBAR</h1>-->
	<div>
		{{{body}}}
	</div>
</body>
</html>
