<!DOCTYPE html>
<html>
<head>
	<title>ScheduleApp</title>
	<link href="{{style}}" rel="stylesheet" type="text/css">
</head>
<body>
	<!--LAYOUT HANDLEBAR-->
	<div>
		{{{body}}}
	</div>
</body>
</html>
