<!DOCTYPE html>
<html>
    <head>
        <link href="../public/css/style-add.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="center">Enter your course here</h1>
        <input class="center" type="text"/>
    </body>
</html>