<!DOCTYPE html>
<html>
    <head>
        <title>Delete Course</title>
        <link href="../public/css/style-delete.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>Enter the course you want to delete:</p>
        <input type="text"/>
    </body>
</html>