<h1 class="center">Your Courses:</h1>
<input class="center" placeholder="Enter the course you want to delete" type="text"/>
<table>
    <tr id="rowH">
        <th>CRN</th>
        <th>Course</th>
        <th>Department</th>
        <th>Professor</th>
        <th>Credits</th>
    </tr>
    <tr id="row">
        <td class="t_CRN">99999</td>
        <td class="t_course">Cooking</td>
        <td class="t_department">Cooking Class</td>
        <td class="t_professor">Gordon Ramsay</td>
        <td class="t_credits">5</td>
    </tr>
</table>

<script>
    let response = await fetch("/student/edit-courses/"+ID);
    let content = response.json();
    console.log(content);
</script>