<div class="center">
    <h1>Hello</h1>
    <p>What is your ID?</p>
    <input id="enterInput" type="text"/>
    <a id="submitB">
        <button>Submit</button>
    </a>
</div>

<script>
    let centerClass = document.querySelector(".center");
    centerClass.classList.toggle('fade');

    let enterInput = document.querySelector("#enterInput");
    enterInput.onkeypress = function enterRedirect(char){ if (char.which == 13) redirect(); }

    let submitB = document.querySelector("#submitB");
    submitB.addEventListener("click", redirect);

    async function redirect(){
        let ID = enterInput.value;
        let response = await fetch('student/'+ID);
        let content = await response.json();
        console.log(content.message);
        if (content.message == "Could not get user") console.log("Could not get user");
        else window.location = "/home"; // figure out how to load name in home ig
    }
</script>