<div class="center">
    <h1>Hello</h1>
    <p>What is your ID?</p>
    <input id="enterInput" type="text"/>
    <a id="submitB">
        <button>Submit</button>
    </a>
    <p id="errorMsg">ID not in database.</p>
</div>

<script>
    let centerClass = document.querySelector(".center");
    centerClass.classList.toggle('fade');

    let enterInput = document.querySelector("#enterInput");
    enterInput.onkeypress = function enterRedirect(char){ if (char.which == 13) redirect(); }

    let submitB = document.querySelector("#submitB");
    submitB.addEventListener("click", redirect);

    async function redirect(){
        let ID = enterInput.value;
        let response = await fetch('student/'+ID);
        let content = await response.json();

        if (content.message == "Could not get user"){
            console.log("Could not get user");
            let errorMsg = document.querySelector("#errorMsg");
            errorMsg.style.display = "inline";
        }else{
            localStorage.setItem("ID", ID);
            if (content["StudentName"] != undefined)
                localStorage.setItem("StudentName", content["StudentName"]);
            window.location = "/home";
        }
    }
</script>