<!DOCTYPE html>
<html>
    <head>
        <title>Enter ID</title>
        <link href="../public/css/style-id.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="center">Hello</h1>
        <p class="center">Please enter your ID here</p>
        <input class="center" type="text"/>
    </body>
</html>