<h1 class="center">Hello</h1>
<p class="center">What is your name?</p>
<input id="enterInput" class="center" type="text"/>
<a id="submitB">
    <button class="center">Submit</button>
</a>
<script>
    document.onkeypress = function enterRedirect(char){
        if (char.which == 13)
            redirect();
    }
    let filterInput = document.getElementById("submitB");
    filterInput.addEventListener("click", redirect);
    function redirect(){
            window.location = "student/add";
    }
</script>