<!DOCTYPE html>
<html>
    <head>
        <title>Next Semester</title>
        <link href="../public/css/style-next-semester.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>Here are the courses you picked for the following semester...</p>
    </body>
</html>
