/* { border: 1px solid red; }*/

html {
    height: 100%;
}

body {
    background: linear-gradient(#fff000, #00aaff);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 92.5%;
}

#errorMsg {
    color: red;
    display: none;
}

.center {
    opacity: 0;
    transition: opacity 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.center.fade {
    opacity: 1;
}

h1, p {
    margin: 0;
}

input {
    text-align: center;
}