html {
    margin: 0 auto;
    height: 100%;
}

body {
    background-image: linear-gradient(0deg, #fff000, #fff);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    display: block;
}