html {
    margin: 0 auto;
    height: 100%;
}

body {
    background-image: linear-gradient(#fff, #fff000);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

a {
    display: block;
}

table {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

td, th {
    border: 2px solid black;
}

#check {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}