/* { border: 1px solid red; }*/

html {
    margin: 0 auto;
    height: 100%;
}

body {
    background-image: linear-gradient(white, #ff3f00);
    overflow: hidden;
    height: 100%;
}

button, select {
    margin: 5px;
}

input {
    min-width: 13%;
    text-align: center;
    margin: 5px;
    border: 2px solid black;
}

table {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

td, th {
    border: 2px solid black;
}

#editStation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}